.progressContainer {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
}

.progressBar {
  height: 20px;
  background-color: #76c7c0;
  border-radius: 5px;
  transition: width 0.3s ease-in-out;
}