@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root 
{
  --sourcesans: "Source Sans 3", sans-serif;
  --suc_color: #00BA69;
}

/*common*/
.sourcesans {
  font-family: var(--sourcesans);
}

.ma-5 {
  margin-left: -5px !important;
  margin-right: -5px !important;
}

.pd-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.suc_color
{
color: var(--suc_color);
}
/*common*/

/*withdraw*/
.menu-tab2 li {
  padding-right: 1.6rem;
}
.select2bx {
  position: relative;
}
.select2bx:after {
  content: "";
  position: absolute;
  right: 8px;
  top: 22px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #000;
  z-index: 10;
}
.menu-tab2 li a {
  font-family: var(--roboto);
  font-weight: var(--fw500);
  font-size: var(--sz20);
  line-height: var(--sz26);
  position: var(--posrel);
  padding: 0 0 1rem 0;
  color: #a5a5a5;
}

.menu-tab2 li.active a,
.menu-tab2 li a:hover {
  color: var(--black12);
}

.menu-tab2 li a::after {
  content: "";
  position: var(--posabs);
  width: 3.75rem;
  height: var(--sz6);
  border-radius: var(--sz4);
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.menu-tab2 li a:hover::after,
.menu-tab2 li.active a::after {
  background: var(--primary);
}

.select2 {
  width: 100%;
  height: 48px;
  padding: 5px 16px;
  font-size: var(--sz15);
  font-family: var(--opensans);
  line-height: var(--sz30);
  background: #F3F5F7;
  color: #000;
  font-weight: var(--fw400);
  border: none;
  border-radius: var(--sz8);
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.select2:focus-visible
{
  box-shadow: none;
  outline: none;
}

.is_dark .cm_ingrp2 .form-control, .is_dark .cm_ingrp2 .form-control:focus, .is_dark .cm_ingrp2 .form-control:focus-visible {
  background: #202020 !important;
  color: #fff;
  width: inherit;
}

.is_dark .cm_ingrp2 .grpbtn .btn
{
  color: #fff;
}

.is_dark .cm_ingrp2 .grpbtn .btn + .btn::after {
background: #fff;
}

.is_dark .cm_lisw3
{
  background: #202020;
  border-color: #323232;
}

.is_dark .lisw_rw3 span
{
  color: #fff;
}


.is_dark .cm_ingrp2 .form-control::-moz-placeholder
{
  color: #fff;
}

.is_dark .cm_lisw span, .is_dark .cm_balt h5, .is_dark .cm_balt h4
{
  color: #fff;
}

.is_dark .cm_ingrp2 .btn
{
background: #323232;
}

.is_dark .cm_ingrp2 .btn svg{
  fill: #fff;
}

.cm_ingrp1.input-group> :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: 0;
}

.cm_inw .cm_faq2 {
  margin-top: 5.5rem;
}

.menu-tab2 {
  padding-bottom: 3rem;
}

.cm_inw {
  padding: 3.5rem 0;
}

.tit {
  font-size: var(--sz20);
  font-family: var(--inter);
  font-weight: var(--fw600);
  line-height: var(--sz20);
  margin: 1.5rem 0 0.8rem;
}

.tit .num_t {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  background: #F3F5F7;
  color: #81858C;
  line-height: 1.5rem;
  margin-right: 1.6rem;
  font-family: var(--ibmplexsans);
  font-size: 12px;
  vertical-align: middle;
}

.step_lister li.active .tit .num_t,
.step_lister li:hover .tit .num_t {
  background: var(--primary);
  color: var(--black1);
}

.cm_infrm1 .form-group {
  margin-bottom: 0.5rem;
}

.wctab .content-inner {
  padding: 0 0 0 3rem;
}

.content-tab2 .content-inner.wctab {
  /* padding: 0 1.5rem 0 0.8rem; */
  padding: 0 3rem;
}

.co_tx img {
  max-width: 18px;
  max-height: 18px;
}

.co_tx {
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  color: var(--black12);
  padding: 0.4rem 0.9rem;
  background: #F3F5F7;
  border-radius: var(--sz8);
  font-family: var(--opensans);
  margin-bottom: 2px;
}

.adr_tx {
  font-size: 18px;
  line-height: 24px;
  font-family: var(--opensans);
  font-weight: var(--fw600);
  margin: 1.5rem 0 1rem -3rem;
}

.adr_tx span {
  border-bottom: 2px solid var(--primary);
  padding-bottom: 1px;
}

.cm_ingrp2 .form-control {
  background: #F5F5F5;
  border: none;
  border-top-left-radius: var(--sz8);
  height: 48px;
  border-bottom-left-radius: var(--sz8);
  font-family: var(--sourcesans);
  font-size: 16px;
  color: var(--black1);
  letter-spacing: 0.2px;
}

.cm_ingrp2 .form-control::-moz-placeholder {
  color: var(--black1);
}

.cm_ingrp2 .form-control::-webkit-input-placeholder {
  color: var(--black1);
}

.cm_ingrp2 .btn {
  background: #F5F5F5;
  border-top-right-radius: var(--sz8);
  border-bottom-right-radius: var(--sz8);
  border: none;
}

.cm_ingrp2 .btn svg {
  width: var(--sz16);
  height: var(--sz16);
}

.cm_ingrp2 .btn:active,
.cm_ingrp2 .btn:focus,
.cm_ingrp2 .form-control:focus,
.cm_ingrp2 .btn:active {
  box-shadow: none;
  outline: none;
  border: none;
}

.cm_ingrp2 .grpbtn .btn {
  height: 48px;
  border-radius: 0;
  font-family: var(--sourcesans);
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  color: var(--black1);
}

.cm_ingrp2 .grpbtn .btn+.btn {
  border-top-right-radius: var(--sz8);
  border-bottom-right-radius: var(--sz8);
  position: relative;
}

.cm_ingrp2 .grpbtn .btn+.btn:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 16px;
  left: 0;
  top: 16px;
  background: #000;
}

.cm_ingrp2 .grpbtn .btn:hover {
  color: var(--primary);
}

.cm_lisw span {
  font-family: var(--opensans);
  font-size: var(--sz16);
  line-height: var(--sz24);
  color: var(--black8);
}

.lisw_rw {
  padding: 0.4rem 0.6rem;
  margin: 0.5rem 0 0;
}

.cm_lisw {
  margin-top: 1rem;
}

.step_lister li {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-bottom: 1rem;
}

.step_lister li:not(:last-child):after {
  content: "";
  position: absolute;
  left: 12px;
  top: 25px;
  width: 2px;
  height: 100%;
  border-left: 1px dashed #E9EDF2;
  z-index: -1;
}

.step_lister {
  padding-bottom: 1rem;
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 0.9rem;
}

.cm_balt h5 {
  font-family: var(--outfit);
  font-size: var(--sz18);
  line-height: var(--sz28);
  margin: 1rem 0;
  font-weight: var(--fw400);
  color: var(--black8);
}

.cm_balt h4 {
  font-family: var(--inter);
  font-weight: var(--fw600);
  font-size: var(--sz24);
  line-height: var(--sz32);
  margin: 1rem 0;
  color: var(--black8);
}

.cm_balt .btn-action {
  float: right;
  color: #fff;
  font-family: var(--inter);
  font-weight: var(--fw600);
  min-width: 180px;
}

.cm_inwbk1 {
  border: 1px solid #E8E8E8;
  padding: 1.5rem;
  border-radius: var(--sz12);
}

.cm_frmw2 .form-label {
  font-size: var(--sz18);
  line-height: var(--sz24);
  font-family: var(--opensans);
  color: var(--black1);
  font-weight: var(--fw600);
  margin: 0 0 0.6rem;
}

.cm_frmw2 .form-group {
  margin-bottom: 1rem;
}

.cm_frmw2 .form-control {
  height: 48px;
  padding: 1rem;
  border-color: #E8E8E8;
}

.cm_frmw2 .select1 {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px 18px;
  height: 48px;
  font-size: 16px;
  margin-top: 2px;
}

.lisw_rw2 span {
  font-size: var(--sz16);
  line-height: var(--sz30);
  color: #848484;
}

.lisw_rw2 .lisw_rig2 {
  color: var(--black12);
}

.cm_lisw2 {
  border: 1px solid #eee;
  /* padding: 0.7rem 2rem; */
  padding: 0.7rem 1rem;
  border-radius: var(--sz12);
  margin: 0 0 1rem;
}

.lisw_rw2 {
  padding: 0.2rem 0;
}

.cm_lisw2 .lisw_rw2:not(:last-child) {
  border-bottom: 1px solid #eee;
}



.lisw_rw3 span {
  font-size: var(--sz16);
  line-height: var(--sz30);
  /* color: #848484; */
  color: var(--black8);
  font-weight: var(--fw500);
  font-family: var(--opensans);
}

.cm_lisw3 {
  border: 1px solid #eee;
  /* padding: 0.7rem 2rem; */
  padding: 0.7rem 1rem;
  border-radius: var(--sz12);
  margin: 0 0 1rem;
  background: #f2f2f2;
}

.lisw_rw3 {
  padding: 0.2rem 0;
}

.cm_lisw3 .lisw_rw2:not(:last-child) {
  border-bottom: 1px solid #eee;
}

/*withdraw*/

/*deposit*/
.content-tab2 .wctab {
  border: 1px solid #E7E7E7;
  border-radius: var(--sz16);
}
.wctab .step_lister {
  border: none;
}
.cm_ingrp3 .form-control, .cm_ingrp3 .btn {
  border: none;
  outline: none;
  box-shadow: none;
  height: 34px;
}
.cm_ingrp3 {
  border: 1px solid #000;
  border-radius: var(--sz4);
}
.cm_ingrp3 .btn svg {
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
  transform: rotateY(-180deg);
}
.cm_ingrp3 .btn {
  margin-left: 0;
  padding: 0.1rem 0.7rem 0.1rem 0.9rem;
  background: #F5F5F5;
}
.cm_ingrp3 .form-control {
  padding: 0.1rem 0.2rem 0.1rem 0.9rem;
  font-family: var(--sourcesans);
  font-size: 16px;
  background: #F5F5F5;
  color: var(--black1);
}
.cm_qr1 h6 {
  font-family: var(--sourcesans);
  font-weight: var(--fw400);
  font-size: var(--sz17);
  line-height: var(--sz24);
  margin: 0.5rem 0 0.7rem;
  color: var(--black1);
}
.cm_qr1 {
  background: #F5F5F5;
  padding: 0.4rem 0.5rem;
  border-radius: var(--sz4);
  margin: 0.4rem 0;
}
.qr_tx1 p {
  font-family: var(--opensans);
  font-size: var(--sz14);
  line-height: var(--sz19);
  margin: 0 0 1rem;
  color: var(--black8);
}
.qr_tx1 {
  margin-top: 1rem;
  padding-top: 3px;
  margin-bottom: 1.2rem;
}
.adr_tx1 {
  font-family: var(--sourcesans);
  font-size: var(--sz18);
  line-height: var(--sz24);
  color: var(--primary);
  display: inline-block;
  margin: 0.3rem 0;
}
.adr_tx1 svg {
  width: 10px;
  height: 14px;
  margin-left: 4px;
}
.qr_tx1 .btn-action {
  min-width: 280px;
  font-weight: var(--fw600);
  margin-top: 2px;
}
.qr_rw1 h6 {
  font-size: var(--sz11);
  font-weight: var(--fw400);
  font-family: var(--opensans);
  color: var(--black11);
  line-height: var(--sz14);
  margin: 2px 0;
}
.qr_rw1 p {
  font-size: var(--sz12);
  font-family: var(--inter);
  font-weight: var(--fw400);
  line-height: var(--sz16);
  color: var(--black12);
  margin: 2px 0;
}
.cm_bbtn1 {
  background: var(--black8);
  border: none;
  color: #fff;
  font-size: var(--sz12);
  line-height: var(--sz18);
  font-family: var(--opensans);
  font-weight: var(--fw600);
  border-radius: var(--sz12);
  padding: 0.44rem 0.9rem;
  float: right;
  transition: var(--easeinout);
  -moz-transition: var(--easeinout);
  -webkit-transition: var(--easeinout);
}
.cm_bbtn1:hover {
  background: var(--primary);
  color: #fff;
}
.qr_rw1 {
  border: 1px solid #E7E7E7;
  padding: 0.3rem;
  border-radius: var(--sz5);
}
.cm_sepw
{
  margin: 1rem 0;
  border-color: #E7E7E7;
  opacity: 0.1;
  -moz-opacity: 0.1;
  -webkit-opacity: 0.1;
}

/*deposit*/

@media screen and (min-width:320px) and (max-width:1200px)
{
  .input-group.cm_ingrp3 {
    max-width: 100% !important;
  }
  .adr_tx1
  {
    width: 100%;
  }
  .rsp_w100
  {
    width: 100% !important;
  }
}

@media screen and (min-width:320px) and (max-width:767px)
{
  .user_balance_dashboard  .cm_inw .cm_faq2
  {
    margin-top: 0;    margin-bottom: 0;
  }
  .text-center.rsp_tlef {
    text-align: left !important;
  }
 .content-tab2 .cm_inwbk1
  {
    padding: 0;
  }
  .cm_inwbk1 .cm_lisw2{
    padding: 0.2rem 0.3rem;
  }
  .cm_bbtn1
  {
    font-size: var(--sz10);
    line-height: var(--sz13);
    border-radius: var(--sz5);
    padding: 5px 10px;
  }
  .qr_tx1 .btn-action
  {
    min-width: 120px;
    padding: 5px 12px;
  }
  .content-tab2 .content-inner.wctab {
    padding: 0;
  }
  .cm_lisw .lisw_rw {
    padding: 0.2rem 0;
  }
  .tit .num_t
  {
    margin-right: 0.6rem;
  }
  .wctab .content-inner {
    padding: 0 0 0 2rem;
  }
  .input-group.cm_ingrp2 > .grpbtn {
    position: absolute;
    right: 0;
  }
  .input-group.cm_ingrp2 > .grpbtn .btn {
    font-size: 13px;
  }
  .input-group.cm_ingrp2 > .grpbtn .btn:first-child {
    padding-left: 6px;
  }
  .content-tab2 .wctab, .cm_inwbk1
  {
    border: none;
  }
}
@media screen and (min-width:768px) and (max-width:1300px)
{
  .content-tab2.wctab {
    padding-right: 1rem;
  }
  .content-tab2 .content-inner.wctab
  {
    padding: 0 1rem;
  }
  .content-tab2 .content-inner.wctab1, .cm_inwbk1, .content-tab2 .content-inner.wctab {
    padding: 0 !important;
    border: none !important;
  }
  .input-group.cm_ingrp2 > .grpbtn {
    position: absolute;
    right: 0;
  }
  .input-group.cm_ingrp2 > .grpbtn .btn{
    font-size: var(--sz14);
    padding: 8px;
  }
}

@media screen and (min-width:576px) and (max-width:767px)
{
.rsp_wd50, .select2bx
{
  width: 60%;
}
.rsp_wd50 .select2bx
{
  width: 100%;
}
}

/*dark theme*/
.is_dark .menu-tab2 li a
{
  opacity: 0.6;
  color: #fff;
}
.is_dark .menu-tab2 li.active a, .menu-tab2 li a:hover
{
  opacity: 1;
}
.is_dark .select2 {
  background: #202020;
  color: #fff;
}
.is_dark .select2bx::after {
  border-top-color: #fff;
}
.is_dark .co_tx {
  background: #333;
  color: #fff;
}
.is_dark .cm_qr1
{
  background: #202020;
}
.is_dark .cm_qr1 h6, .is_dark .cm_ingrp3 .form-control::-moz-placeholder, .is_dark .cm_ingrp3 .form-control::-webkit-input-placeholder, .is_dark .qr_tx1 p, .is_dark .cm_frmw2 .form-label, .is_dark .lisw_rw2 span, 
.is_dark .cm_frmw2 .select1
{
  color: #fff;
}
.is_dark .cm_ingrp3 .form-control, .is_dark .cm_ingrp3 .btn {
  background: rgba(0,0,0,0.2) !important;
  color: #fff;
}
.is_dark .qr_rw1, .is_dark .cm_lisw2, .is_dark .cm_frmw2 .form-control, .is_dark .cm_frmw2 .form-control:focus {
  border-color: #23262f;
  background: #202020 !important;
}
.is_dark .cm_bbtn1 {
  background: #333;
}
.is_dark .cm_bbtn1:hover
{
  background: #444;
}
.is_dark .cm_lisw2 .lisw_rw2:not(:last-child)
{
  border-color: #444;
}
.is_dark .content-tab2 .wctab, .is_dark .cm_inwbk1 {
  border-color: #202020;
}
.is_dark .cm_frmw2 .select1
{
  border-color: #23262f;
}
.is_dark .cm_frmw2 .hintx, .is_dark .qr_rw1 p, .is_dark .qr_rw1 h6 {
  color: #fff !important;
}
.is_dark .adr_tx span
{
  background: #0d0d0d;
}
.cm_frmw2 .select1
{
  position: relative;
}
.cm_frmw2 .select1::after
{
  content: "";
  position: absolute;
  right: 12px;
  top: 20px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
}
.cm_frmw2 .select1 option
{
  font-family: var(--opensans);
}
.select1 select {
  appearance: none;
  -webkit-appearance: none;
  background: #fff;  
  border: none;
  color: var(--black8);
  width: 100%;
  height: 35px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: var(--sz8);
}
.is_dark .select1 select 
{
  background: #202020;
  color: #fff;
}
.is_dark .cm_frmw2 .select1::after
{
  border-top-color: #fff;
}
.is_dark .cm_frmw2 .form-control::-moz-placeholder
{
  color: #fff;
}

.is_dark .cm_ingrp2 .form-control::-webkit-input-placeholder
{
  color: #fff;
}
.select1 select {
  height: 45px;
}

.select1 select:focus-visible
{
  box-shadow: none;
  outline: none;
}

@media screen and (min-width:768px) and (max-width:1200px)
{
  .curr_rw1 .col-md-8 {
    width: 50% !important;
  }
  .curr_rw1 .col-md-4 {
    width: 50% !important;
  }
  .cm_balt .btn-action
  {
    font-size: var(--sz13);
  }
  .rew_tabsc .block-text1 h5 {
    font-size: var(--sz24);
    margin: 0.2rem 0;
    line-height: var(--sz34);
  }
  .step_lister li
  {
    padding-bottom: 0;
  }
  .vw span
  {
    margin: 0;
  }
  .cm_balt h5, .cm_balt h4
  {
    margin: 2px 0;
  }
}

@media screen and (min-width:320px) and (max-width:767px)
{  
.curr_rw1 .select2bx {
  width: 100%;
}
.lisw_rw2
  {
    padding: 0.5rem 0 !important;
  }
  .cm_inwbk1 .cm_lisw2 {
    position: relative;
    top: 3px;
  }
body .cm_faq2 .cm_faq1 .flat-accordion .flat-toggle::after {
  top: 7px;
}
body .cm_faq2 .cm_faq1 .flat-accordion .flat-toggle.active::after {
  transform: none;
  -webkit-transform: none;
}
.cm_balt .btn-action
{
  font-size: var(--sz13);
}
.curr_rw1 .select2bx .select2
{
  height: 48px;    font-size: var(--sz13);
}
.cm_ingrp2 .form-control
{
  font-size: var(--sz14);
}
.select2bx::after {
  right: 6px;
  border-left-width: 3px;
  border-right-width: 3px;
}
.curr_rw1 .col-6 {
  width: 45% !important;
}
.curr_rw1 .col-6 + .col-6 {
  width: 55% !important;
}
}

.is_dark .input-group.cm_ingrp2 .form-control:focus-visible
{
background: #202020 !important;
}
.is_dark .input-group.cm_ingrp2 .form-control:focus, .is_dark .input-group.cm_ingrp2 .form-control:focus-visible
{
  background: #202020 !important;
}
.is_dark .reduce-gap .form-control:focus-visible {
  background-color: #222630 !important;
  outline: none;
  box-shadow: none;
}
.is_dark .reduce-gap .form-control option {
  background: #222630 !important;
}
.is_dark .reduce-gap .react-datepicker {
  background: #222630;
  color: #fff;  
  border: none;
}
.is_dark .reduce-gap .react-datepicker * {
  color: #fff;
}
.is_dark .reduce-gap .react-datepicker .react-datepicker__header {
  background: #222630;
  border: none;
}
.is_dark .reduce-gap .react-datepicker-popper .react-datepicker__triangle {
  fill: #222630 !important;
  color: #222630 !important;
  border: none !important;
  stroke: #222630 !important;
}

.reduce-gap .btn-warning:hover, .reduce-gap .btn-warning:focus {
  background: #ff6000;
  outline: none;
  border-color: #ff7000;
  box-shadow: none;
}
.reduce-gap .btn-warning
{
  border-color:var(--primary);
}
.reduce-gap .btn-danger:focus 
{
box-shadow: none;
outline: none;
}
.rew_tabsc {
  margin-bottom: 1.5rem;
}

@media screen and (min-width:320px) and (max-width:767px){  
.cm_lisw span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.rew_tabsc .block-text1 h5 {
  font-size: 23px;
}
.cm_lisw span.lisw_lf {
  padding-right: 5px;
}
.cm_lisw span.lisw_rig {
  padding-left: 5px;
}
.withd_mod1 .withd_cnp1 p
{
  font-size: var(--sz13);
}
.cm_mod1 .mod_whd1
{  
  font-size: var(--sz23);
}

.rew_tabsc .cm_table1 * {
  white-space: nowrap !important;
  font-size: 13px;
  padding-left: 3px;
  padding-right: 3px;
}

.rew_tabsc .cm_table1 svg {
  margin-right: 10px;
  padding: 0;
  width: 20px;
  height: 20px;
}

.rew_tabsc .cm_table1 div {
  margin-right: 15px;
}

.rew_tabsc .cm_table1 div:first-child {
  min-width: 64px;
}

.rew_tabsc .block-text1 h5 {
  font-size: 24px;
}

.withd_mod1 .cm_lisw span {
  font-size: 12px;
}

}

.is_dark .withd_cnp1 .input-group.cm_ingrp2 .form-control:focus-visible {
  background: #323232 !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.cm_faq2 .cm_faq1 .toggle-title
{
  font-size: var(--sz15);
  font-weight: var(--fw500);
}

.cm_faq2 .cm_faq1 .flat-accordion .flat-toggle::after {
  top: 2px;
}

.cm_faq2 .cm_faq1 .flat-accordion .flat-toggle.active::after {
  transform: none !important;
  -webkit-transform: none !important;
}